footer {
  display: block;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
}

footer p {
  text-align: center;
}

p {
  text-align: justify;
}

@media screen and (max-width: 767px) {
  #main, #left-sidebar, #right-sidebar {
    margin-bottom: 0px;
  }

  #main {

  }

  #navbar {
    position: static;
    margin-bottom: 0px;
  }

  .jumbotron {
    display: none;
  }

  nav .form-group .form-control {
    margin-bottom: 5px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {

}
